* {
  margin: 0;
  padding: 0;
}
.OneBigBox {
  /* font-family: "Century Gothic"; */
  padding: 10px 0px 20px 0px;
  margin-left: 30%;
  width: max-content;
  /* color: gray; */
  /* border-radius: 5px; */
}
.heads {
  font-size: 15px;
}
.OneCat {
  font-size: 15px;
  margin-bottom: 5px;
}
.OneBox {
  /* font-family: "Century Gothic"; */
  font-size: 15px;
  padding: 4px;
  display: flex;
  /* margin-bottom: 5px; */
}
.OneBox > p,
.OneBox > span {
  font-size: 12px;
  align-items: center;
}
.Box {
  /* font-family: "Century Gothic"; */
  padding-top: 1px;
  padding-right: 3px;
  color: #0c1b2b;
  font-size: 12px;
}
.results__found {
  display: flex;
  justify-content: center;
}
.ResultText {
  width: 85%;
  /* font-family: "Century Gothic"; */
  padding: 10px 10px;
  color: white;
}
